# Notebook for making .gpkg from .shp

In [1]:
import geopandas as gpd

In [2]:
#? gpd.read_file

In [3]:
pwd

'/home/gfa/GSDMA2019/playground'

## Read SHP

In [4]:
data_shp = gpd.read_file("/home/gfa/GSDMA2019/playground/pilote/pilote/Pilote_v7.0.shp")

In [5]:
data_shp

,Id,Type,Pilote,Ref,diam,Valid,Syscal,Impo,Inox,geometry
0,0,1,1,111,2,1,1.0,0.0,1.0,POINT (152894.553 122591.406)
1,0,1,1,120,2,1,1.0,0.0,1.0,POINT (152881.336 122588.077)
2,0,2,1,217,3,1,1.0,1.0,1.0,POINT (152885.774 122586.936)
3,0,1,1,116,2,1,1.0,0.0,1.0,POINT (152883.804 122589.782)
4,0,2,1,214,2,1,1.0,1.0,1.0,POINT (152888.242 122588.641)
...,...,...,...,...,...,...,...,...,...,...
80,0,5,0,31,0,0,0.0,NaN,NaN,POINT (152886.080 122578.566)
81,0,6,0,40,0,0,0.0,NaN,NaN,POINT (152883.640 122577.576)
82,0,6,0,41,0,0,0.0,NaN,NaN,POINT (152884.220 122576.706)
83,0,0,0,12,0,1,NaN,NaN,NaN,POINT (152888.640 122578.796)
84,0,0,0,14,0,0,NaN,NaN,NaN,POINT (152887.340 122581.006)

## Write gpkk

In [6]:
data_shp.to_file("data.gpkg", driver="GPKG")

## Read gpkg

In [7]:
data_from_gpkg = gpd.read_file("/home/gfa/GSDMA2019/playground/pilote/data.gpkg")

In [8]:
data_from_gpkg

,Id,Type,Pilote,Ref,diam,Valid,Syscal,Impo,Inox,geometry
0,0,1,1,111,2,1,1.0,0.0,1.0,POINT (152894.553 122591.406)
1,0,1,1,120,2,1,1.0,0.0,1.0,POINT (152881.336 122588.077)
2,0,2,1,217,3,1,1.0,1.0,1.0,POINT (152885.774 122586.936)
3,0,1,1,116,2,1,1.0,0.0,1.0,POINT (152883.804 122589.782)
4,0,2,1,214,2,1,1.0,1.0,1.0,POINT (152888.242 122588.641)
...,...,...,...,...,...,...,...,...,...,...
80,0,5,0,31,0,0,0.0,NaN,NaN,POINT (152886.080 122578.566)
81,0,6,0,40,0,0,0.0,NaN,NaN,POINT (152883.640 122577.576)
82,0,6,0,41,0,0,0.0,NaN,NaN,POINT (152884.220 122576.706)
83,0,0,0,12,0,1,NaN,NaN,NaN,POINT (152888.640 122578.796)
84,0,0,0,14,0,0,NaN,NaN,NaN,POINT (152887.340 122581.006)

In [9]:
type(data_from_gpkg)

geopandas.geodataframe.GeoDataFrame

In [10]:
data_from_gpkg.head()

,Id,Type,Pilote,Ref,diam,Valid,Syscal,Impo,Inox,geometry
0,0,1,1,111,2,1,1.0,0.0,1.0,POINT (152894.553 122591.406)
1,0,1,1,120,2,1,1.0,0.0,1.0,POINT (152881.336 122588.077)
2,0,2,1,217,3,1,1.0,1.0,1.0,POINT (152885.774 122586.936)
3,0,1,1,116,2,1,1.0,0.0,1.0,POINT (152883.804 122589.782)
4,0,2,1,214,2,1,1.0,1.0,1.0,POINT (152888.242 122588.641)